body {
  font-size: 1.2em;
  background: floralwhite;
  max-width: 80ch;
  margin: auto;
  padding: 1em;
}

header {
  margin-bottom: 2em;
}

footer {
  margin-top: 2em;
}

a {
  color: mediumblue;
}

a:visited {
  color: darkmagenta;
}

.authors-photo > img {
  margin: 1em;
  width: clamp(200px, 50%, 400px);
}

@media screen and (min-width: 600px) {
  ul.responsive, ol.responsive {
    columns: 3;
  }
}

article {
  line-height: 1.6;
}

section + * {
  margin-top: 3em;
}

.longform {
  max-width: 60ch;
}

.caption {
  font-size: large;
  color: dimgray;
}

.italic {
  font-style: italic;
}

.gray {
  color: dimgray;
}

.no-list-style {
  padding-left: 0;
}

.no-list-style > li {
  list-style: none;
}

.spaced-list {
  margin-block: 1.5em 2em;
}

.narrow-list {
  max-width: 40ch;
}

.spaced-list > li + li {
  margin-top: 2.5em;

}

@media screen and (min-width: 600px) {
  .spaced-list > li + li {
    margin-top: 1.4em;
  }
}

.centered {
  text-align: center;
  margin-inline: auto;
}

.smaller {
  font-size: smaller;
}

.larger {
  font-size: larger;
}

/* accessibility */
.sr-only {
  position: absolute;
  clip: rect(0,0,0,0);
  border: 0;
}
